<p style="color: green"><%= notice %></p>

<%= render @coin %>

<div>
  <%= link_to I18n.t("coin.buttons.edit_this_coin"), edit_coin_path(@coin) %> <br/>
  <%= link_to I18n.t("coin.buttons.delete_this_coin"), @coin, data: {turbo_method: :delete} %> <br/>
  <%= link_to I18n.t("coin.buttons.back_to_coins"), coins_path %>
</div>
